/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
   background: url(../images/fond/global.png) black repeat;
   font: 1rem "Oranienbaum", serif;
   color: white;
}

a{
   color: white;
   text-decoration: none;
}

a:hover{
   color: darkorange;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

header, section{
   min-height: 100vh;
   min-width: 100vw;
}

/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

h1{
   font: 6.25rem "Monoton", sans-serif;
}

section{
   display: flex;
   justify-content: center;
   align-items: center;
}

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

.boite{
   width: 800px;
   padding: 48px;
   background: rgb(0, 0, 0, 0.8);
   border-radius: 10px;
}

/* Header */

header{
   display: flex;
   justify-content: center;
   align-items: center;

   text-align: center;
   position: relative;
}

header div{
   display: flex;
   justify-content: center;
   align-items: center;
}

header a{
   position: absolute;
   top: 100%;
   margin-top: 40px;
}

/* Section Générale */

/* Section sports */

/* Section web */

/* Section photographie */

/* Bouton retour */
