/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
   background: url(../images/fond/global.png) repeat;
   font: 1rem "Oranienbaum", serif;
   color: white;
}

a{
   color: white;
   text-decoration: none;
}

a:hover{
   color: darkorange;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

header, section{
   min-height: 100vh;
   min-width: 100vw;
}

/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

.boite{
   width: 800px;
   padding: 48px;
   background: rgb(0, 0, 0, 0.8);
   border-radius: 10px;
}

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/* Header */

/* Section Générale */

/* Section sports */

/* Section web */

/* Section photographie */

/* Bouton retour */
